# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
.venv/
venv/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/
